/* Fonts & Global reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Inter", sans-serif;
    line-height: 1.7;
    color: #e0e0e0;
    background: #000;
    overflow-x: hidden;
}

h1, h2, h3{
    font-family: "Inter", sans-serif;
    color: #fff;
}

h1{
    font-size: 3.2rem;
    margin: 0.5rem 0;
}

h2{
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

h3{
    font-size: 1.6rem;
    margin: 1rem 0 0.5rem;
}

.container{
    max-width: 1000px;
}

 